@inherits LayoutComponentBase

<PageTitle>Blog-App</PageTitle>

<div class="min-h-screen flex flex-col">
    <div class="h-16">
        <NavMenu />
    </div>

    <main class="flex-1">
         @Body
    </main>
    <div class="bg-gray-200 flex justify-center h-14 fixed bottom-0 w-full items-center"><Footer/></div>
</div>
