
<div class="bg-[#3a0647] h-full flex justify-around items-center">
    <header>
        <NavLink href="/" class="font-bold text-white ">Blazing Blog</NavLink>
    </header>
    <div class="text-gray-200 space-x-3 font-light hidden md:inline-block">
        <NavLink href="/">Home</NavLink>
        <NavLink href="/about">About</NavLink>
        <NavLink href="/manage-categories">Categories</NavLink>
        <NavLink href="/manage-blogs">Blogs</NavLink>
    </div>
    <div>
        <NavLink href="/login" class="bg-blue-700 py-3 px-6 rounded-xl">
            <button>Login</button>
        </NavLink>
    </div>
</div>















